:root {
  --branco-principal: #ffffff;
  --cinza-secundaria: #c0c0c0;
  --botao-azul: #167bf7;
  --cor-de-fundo: #00030c;
  --fonte-principal: 'Inter';
  --botao-hover: #3c92fa;
  --botao-sec-hover: #dedede60;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.apresentacao__principal {
  background-image: url("../assets/Background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
}

.container__caixa {
  margin: 0 6em;
}

.apresentacao-titulo {
  font-size: 28px;
  font-weight: 700;
}

.apresentacao__img {
  margin: 1em 0 2em 0;
}

.apresentacao__botao {
  background-color: var(--botao-azul);
  border-radius: 10px;
  padding: 1em;
  color:var(--branco-principal);
  display: block;
  text-decoration: none;
  margin-bottom: 1em;
}

.apresentacao__botao:hover {
  background-color: var(--botao-hover);
}

.botao_sec {
  background-color: transparent;
  border: 2px solid var(--branco-principal);
}

.botao_sec:hover {
  background-color: var(--botao-sec-hover);
}

.apresentacao__text {
  font-size: 12px;
  color: var(--cinza-secundaria);
}

.apresentacao__secundaria {
  align-items: center;
  margin: 0 10em;
}

.apresentacao__secundaria__img {
  width: 80%;
}

.apresentacao__secundaria__titulo {
  font-weight: 700;
  font-size: 48px;
  color: var(--branco-principal);
  margin-bottom: 0.1em;
}

.apresentacao__secundaria__texto {
  color: var(--cinza-secundaria);
}

.apresentacao__botao__sec {
  display: inline-block;
  margin-top: 1em;
}

.container__caixa__secundaria {
  padding: 2em;
}

.dispositivos {
  text-align: center;
}

.dispositivos__titulo {
  font-size: 48px;
}

.dispositivos__lista {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 5em 0;
}

.dispositivos__item {
  font-size: 32px;
  color: var(--branco-principal);
}

.rodape {
  text-align: center;
  margin: 5em 3em;
}

.rodape__lista {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 2em 0;
}

.lista__link a{
  text-decoration: none;
  color: var(--branco-principal);
  margin-left: 1em;
}

.lista__link a:hover {
  color: var(--botao-azul);
}

.rodape__texto {
  margin: 2em 0 0 0;
  color: var(--cinza-secundaria);
  font-size: 14px;
}
